<%- include('sections/_header.ejs') %>
    

    <title>Home | Buscando</title>
</head>
<body>

    <%- include('sections/_layout_start.ejs') %>
    
    

    <!-- City Present -->
    <div class="text-sm text-blue-500 p-2 font-bold">
        <a href="/">
            <i class="fa-solid fa-angle-left"></i> Cambiar ciudad
        </a>
    </div>

    <div class="flex p-2 items-center">
        <div class=" w-28 h-28 md:w-28 md:h-28 overflow-hidden rounded-full">
            <img src="/images/seattle.jpg" class="w-52" />
        </div>
        <div class="p-2">
            <h1 class="text-xl md:text-2xl">Oberá, Misiones</h1>
            <div class="city-info">
            </div>
        </div>

    </div>




    <h1 id="right">

    </h1>


    <div class="border-t border-stone-200 py-5">

        <!-- Topic     -->
        <% if (topic) { %>
            
        
            <div id="topic-comp"></div>

            <script type="module">
                import {html, render} from '/preact.js';
                
                import { TopicComp } from '/components/home/topic-comp.js';
                
                
                render(html`<${TopicComp}   cityCode="<%= cityCode %>" 
                                            topicCode="<%= topic %>" 
                                            areaCode="<%= area %>"
                                            catCode="<%= cat %>"/>`, document.getElementById('topic-comp') );
                
            </script>
            


        <!-- Topics -->
        <% } else { %>
            <!-- <h2 class="text-2xl text-center">Temas generales</h2> -->
        
            <div id="root-div" class="h-20 relative overflow-hidden bg-stone-100">
                
            </div>

            <script type="module">
                import { html, render} from '/preact.js';
                import { TopicsComp } from '/components/home/topics-comp.js';
            
             
                render(html`<${TopicsComp} cityCode="<%= cityCode %>" />`, document.getElementById('root-div'));
                
                const rootDiv = document.getElementById('root-div');
                const innerDiv = document.getElementById('inner-div');
                
                const divTotalWidth = rootDiv.clientWidth;
            
                let touchStartPoint = 0;
                let innerXStart = 0;

                function update(e) {
                    
                    //refresh point
                    const touchNewPoint =  e.touches[0].clientX;
                    const diff = touchNewPoint - touchStartPoint + innerXStart;
                    
                    innerDiv.style.left = diff + "px";
                    
                }

                rootDiv.addEventListener('touchstart', e =>{
                    
                    //eliminamos la transition, así se hace el movimiento con el touchmove
                    innerDiv.style.transition = "";
                    touchStartPoint = 0;
                    innerXStart = innerDiv.offsetLeft;
                    touchStartPoint = e.touches[0].clientX;
                                       
                    rootDiv.addEventListener('touchmove', update);

                });

                window.addEventListener('touchend', ()=>{
                    rootDiv.removeEventListener('touchmove', update);
                    
                    const actualInnerOffsetLeft = innerDiv.offsetLeft;
                    const rootWidth = rootDiv.clientWidth;
                    const innertWidth = innerDiv.getBoundingClientRect().width;
                    const actualInnerOffsetRight = rootWidth - innertWidth - actualInnerOffsetLeft;

              
                  
                    //en caso de exceder el Left
                    if (actualInnerOffsetLeft > 1) {                        
                        innerDiv.style.transition = "all 0.5s";
                        innerDiv.style.left = 0 + "px";                        
                    }
                    //en caso de exceder el Right
                    else if(actualInnerOffsetRight > 0){
                        innerDiv.style.transition = "all 0.5s";
                        innerDiv.style.left = actualInnerOffsetLeft + actualInnerOffsetRight + "px";
                    }
                });

                
                
            </script>
            
        <% } %>




        <%# Lista de Anuncios %>
        <div class="py-2 px-4 max-w-3xl mt-5">
            <%- include('home/_anuncio.ejs') %>            
        </div>





    </div>  
    
    






    
    
    <%- include('sections/_footer.ejs') %>
    <%- include('sections/_layout_end.ejs') %>

    


    
</body>
</html>